
@{
	ViewData["Title"] = "About Page";
}

<div>
	<h1 class="container-fluid text-sm-center p-5 bg-light display-4">The Onesies, Group #1</h1>
	<p>
		This is our About Us Page.
	</p>
	<div class="row">
		<div class="col-4 card" style="width: 18px;">
            <div class="card-body">
                <h5 class="card-title text-centered"> Communication Plan </h5>
                <h6 class="card-text text-centered"> iMessage Group Chat, Phone Calls, In-Person Meetings </h6>
            </div>
		</div>
		<div class="col-4 card" style="width: 18px;">
			<div class="card-body">
                <h5 class="card-title text-centered"> Level of Expectation </h5>
                <h6 class="card-text text-centered"> Each member is expected to put at least 2 hours into the group project. Each member should equally take up about 20% of the project and is expected to create a quality output.
                </h6>
            </div>
		</div>
		<div class="col-4" style="width: 18px;">
			<div class="card-body">
                <h5 class="card-title text-centered"> Group Values </h5>
                <h6 class="card-text text-centered"> We value teamwork, respect, and guidance. </h6>
            </div>
		</div>
		<div class="col-4 card" style="width: 18px;">
			<div class="card-body">
				<img src="" alt="My Photo">
				<h5 class="card-title text-centered"> Sri Mukkamala </h5>
				<h6 class="card-text text-centered"> I am good with HTML, CSS, and the basics of Javascript. I have done some work with this in the past, but sadly have forgotten most of it. I am not good at all with C# and the MVC framework being used with web development. </h6>
			</div>
		</div>

	</div>
</div>
