@{
    ViewData["Title"] = "Accessories";
}

<div class="container text-center">
    <div class="row" style="text-align: center;">
        <div class="card card-block mx-2 mb-4" style="max-width: 250px; max-height: 390px;">
            <img src="~/images/silver ring.png" alt="Silver ring" height="250px" width="220px">
            <p>Silver Ring- $40.00</p>
            <div class="card-footer">
                <button type="button" class="btn btn-primary btn-sm btn-rectangle" onclick="Shoppingcart.href = '';">ADD
                    TO CART </button>
            </div>
        </div>
        <div class="card card-block mx-2 mb-4" style="max-width: 250px; max-height: 390px;">
            <img src="~/images/gold heart necklace.png" alt="Gold Heart Necklace" height="250px" width="220px">
            <p>Gold Heart Necklace- $35.00</p>
            <div class="card-footer">
                <button type="button" class="btn btn-primary btn-sm btn-rectangle" onclick="Shoppingcart.href = '';">ADD
                    TO CART </button>
            </div>
        </div>
        <div class="card card-block mx-2 mb-4" style="max-width: 250px; max-height: 390px;">
            <img src="~/images/black hermes.png" alt="Black Purse" height="250px" width="220px">
            <p>Black Purse- $150.00</p>
            <div class="card-footer">
                <button type="button" class="btn btn-primary btn-sm btn-rectangle" onclick="Shoppingcart.href = '';">ADD
                    TO CART </button>
            </div>
            </a>
        </div>
        <div class="card card-block mx-2 mb-4" style="max-width: 250px; max-height: 390px;">
            <img src="~/images/gold bar necklace.png" alt="Gold Bar Necklace" height="250px" width="220px">
            <p>Gold Bar Necklace- $35.00</p>
            <div class="card-footer">
                <button type="button" class="btn btn-primary btn-sm btn-rectangle" onclick="Shoppingcart.href = '';">ADD
                    TO CART </button>
            </div>
        </div>
        <div class="card card-block mx-2 mb-4" style="max-width: 250px; max-height: 390px;">
            <img src="~/images/chain ring.png" alt="Silver Chain Ring" height="250px" width="220px">
            <p>Silver Chain Ring- $25.00</p>
            <div class="card-footer">
                <button type="button" class="btn btn-primary btn-sm btn-rectangle" onclick="Shoppingcart.href = '';">ADD
                    TO CART </button>
            </div>
        </div>
        <div class="card card-block mx-2 mb-4" style="max-width: 250px; max-height: 390px;">
            <img src="~/images/brown hermes.png" alt="Brown Purse" height="250px" width="220px">
            <<p>Brown Purse- $150.00</p>
                <div class="card-footer">
                    <button type="button" class="btn btn-primary btn-sm btn-rectangle"
                        onclick="Shoppingcart.href = '';">ADD
                        TO CART </button>
                </div>
        </div>
        <div class="card card-block mx-2 mb-4" style="max-width: 270px; max-height: 390px;">
            <img src="~/images/ring.png" alt="Silver Ring" height="320px" width="220px">
            <p>Silver Ring- $15.00</p>
            <div class="card-footer">
                <button type="button" class="btn btn-primary btn-sm btn-rectangle" onclick="Shoppingcart.href = '';">ADD
                    TO CART </button>
            </div>
        </div>
    </div>
</div>