@{
	ViewData["Title"] = "Accessories";
}

<div class="row" style="text-align: center;">
	<div class="col-4" style="font-family: Snell Roundhand, cursive;">
		<img src="~/images/silver ring.png" alt="Silver ring" height="250px" width="220px">
		<p>Silver Ring- $40.00</p>
	</div>
	<div class="col-4" style="font-family: Snell Roundhand, cursive;">
		<img src="~/images/gold heart necklace.png" alt="Gold Heart Necklace" height="250px" width="220px">
		<p>Gold Heart Necklace- $35.00</p>
	</div>
	<div class="col-4" style="font-family: Snell Roundhand, cursive;">
		<img src="~/images/black hermes.png" alt="Black Purse" height="250px" width="220px">
		<p>Black Purse- $150.00</p>
	</div>
	<div class="col-4" style="font-family: Snell Roundhand, cursive;">
		<img src="~/images/gold bar necklace.png" alt="Gold Bar Necklace" height="250px" width="220px">
		<p>Gold Bar Necklace- $35.00</p>
	</div>
	<div class="col-4" style="font-family: Snell Roundhand, cursive;">
		<img src="~/images/chain ring.png" alt="Silver Chain Ring" height="250px" width="220px">
		<p>Silver Chain Ring- $25.00</p>
	</div>
	<div class="col-4" style="font-family: Snell Roundhand, cursive;">
		<img src="~/images/brown hermes.png" alt="Brown Purse" height="250px" width="220px">
		<p>Brown Purse- $150.00</p>
	</div>
	<div class="col-4" style="font-family: Snell Roundhand, cursive;">
		<img src="~/images/ring.png" alt="Silver Ring" height="250px" width="220px">
		<p>Silver Ring- $15.00</p>
	</div>