@{
	ViewData["Title"] = "Contract";
}

<body style="background-color:rgb(233, 244, 252)">
    <div class="jumbotron">
        <h1 class="display-4 text-center">Group Contract</h1>
        <hr class="my-4">
        <p class="lead">Name and Number</p>
        <p>Our team name is the CodingKoalas and we are group 1</p>
        <hr class="my-4">
        <p class="lead">Communication plan</p>
        <p>We will have team meetings after everyclass and use our groupchat for all communication</p>
        <hr class="my-4">
        <p class="lead">Code of Conduct</p>
        <p>Follow Penn State guidlines regarding acadamic integrity and reach out if you have a queshtion</p>
        <hr class="my-4">
        <p class="lead">Level of expectation from each member</p>
        <p>Try your absolute hardest but communicate if you have a busy week and need assictance from other memebrs, but ideally we are all putting in the same effort / amount of work</p>
        <hr class="my-4">
        <p class="lead">Your group's values</p>
        <p>We value strong and honest work and submitting projects we are proud of </p>
        <hr class="my-4">
    </div>
    <div>
        <h1 class="display-4 text-center">Meet Our Team</h1>
        <div class="d-flex flex-row flex-nowrap overflow-auto" >
            <hr class="my-4">
            <div class="card card-block mx-2" style="min-width: 300px;" >
                <img class="card-img-top" src="/images/Quinn.jpg" style="width: 300px; height: 400px;" alt="Picture of Quinn">
                    <div class="card-body">
                    <h5 class="card-title">Quinn Boyle</h5>
                    <p class="card-text">Quinn is good at coding in java and styling in css but struggles with organizing code in html and using bootstrap</p>
                    </div>
            </div>
            <div class="card card-block mx-2" style="min-width: 300px;" >
                <img class="card-img-top" src="/images/EvaImage.jpg" style="width: 300px; height: 400px;" alt="Picture of Eva">
                <div class="card-body">
                <h5 class="card-title">Eva Bones</h5>
                <p class="card-text">Eva has experience with python and java but struggles to understand the syntax of web development languages and applying bootstrap and jquery.</p>
                </div>
            </div>
            <div class="card card-block mx-2" style="min-width: 300px;" >
                <img class="card-img-top" src="/images/Sri.jpg" style="width: 300px; height: 400px;" alt="Picture of Sri">
                <div class="card-body">
                <h5 class="card-title">Sri Mukkamala</h5>
                <p class="card-text">Sri is good with HTML, CSS, and the basics of Javascript. He has had prior experience with these, but has forgotten them. C# challenges him the most.</p>
                </div>
            </div>
            <div class="card card-block mx-2" style="min-width: 300px;" >
                <img class="card-img-top" src="/images/Tyler.jpg" style="width: 300px; height: 400px;" alt="Picture of Tyler">
                <div class="card-body">
                <h5 class="card-title">Tyler Dum</h5>
                <p class="card-text">Tyler is good with html and javascript. He often tends
        to struggle with things involving boostrap and C#, but he has great problem solving skills. He struggles with time management. </p>
                </div>
            </div>
            <div class="card card-block mx-2" style="min-width: 300px;" >
                <img class="card-img-top" src="/images/Kasmira.jpg" style="width: 300px; height: 400px;" alt="Picture of Kasmira">
                <div class="card-body">
                <h5 class="card-title">Kasmira Spevacek</h5>
                <p class="card-text">Kasmira's strengths are design using HTML, github,
                and learning quickly. However, She struggles with JQuery, but is getting faster with more learning. </p>
                </div>
            </div>
            <div class="card card-block mx-2" style="min-width: 300px;" >
                <img class="card-img-top" src="/images/sabrinaimage.jpeg" style="width: 300px; height: 400px;" alt="Picture of Sabrina">
                <div class="card-body">
                <h5 class="card-title">Sabrina Heberle</h5>
                <p class="card-text">Sabrina is proficient with organizing code in HTML, styling with css and bootstrap.
        However she does struggle with the framework of Java and using GitHub.</p>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
