
@{
	ViewData["Title"] = "Home Page";
}

<div>

	<h2 class="display-4" style="font-family: Snell Roundhand">KoalasKlothing</h2>

	<h3 class="display-4">New Styles</h3>

	<p>
		
	</p>
	<div class="row">
		<div class="col-4"style="font-family: Snell Roundhand, cursive;">
			Ripped Jeans
		</div>

		<div class="col-4">
			Boot Strap column 2
		</div>
		<div class="col-4">
			Boot Strap column 3
		</div>
	</div>
</div>
