@model IEnumerable<Category>;
@{
    ViewData["Title"] = "Home Page";
}
<link href="https://fonts.cdnfonts.com/css/bubble-letters" rel="stylesheet">
@foreach (var item in Model)
{
    <div>
        <img src="@item.CategoryImage" alt="something there" />
    </div>
}

<div>
    <div class="container">
        <div class="row">
            <h1 class="display-4 text-center"
                style="font-family: 'Bubble Letters', sans-serif; font-size: 3rem; color: rgb(88, 105, 231); font-weight: bold">
                KoalasKlothing</h1>

            <h5 class=" display-4 text-center"
                style="font-family: 'Bubble Letters', sans-serif; font-size: 2rem; color: rgb(218, 29, 29); font-weight: bold">
                Most Popular Winter Styles!</h5>
            <div class="col-md-6">
                <img src="~/images/snow.png" alt="snow flake" height="75px" width="75px" style="margin-top: 10px;">
            </div>
            <div class="col-md-6 text-end">
                <img src="~/images/snow.png" alt="snow flake" height="75px" width="75px" style="margin-top: 10px;">
            </div>
        </div>
    </div>

    <div class="container text-center">
        <div class="row" style="text-align: center;">
            <div class="card card-block mx-2 mb-4" style="max-width: 250px; max-height: 390px;">
                <a href="details.cshtml" style="text-decoration: none; color: inherit;">
                    <img src="~/images/ripped black jeans.png" alt="Ripped Jeans" height="250px" width="220px">
                    <p>Ripped Jeans- $60.00</p>
                </a>
            </div>
            <div class="card card-block mx-2 mb-4" style="max-width: 250px; max-height: 390px;">
                <a asp-controller="Home" asp-action="Mens" style="text-decoration: none; color: inherit;">
                    <img src="~/images/star pants.png" alt="Star Pants" height="250px" width="220px">
                    <p>Star Jeans- $75.00</p>
                </a>
            </div>
            <div class="card card-block mx-2" style="max-width: 275px; max-height: 380px; padding: 35px;">
                <a asp-controller="Home" asp-action="Mens" style="text-decoration: none; color: inherit;">
                    <img src="~/images/mens jeans.png" alt="Mens Jeans" height="250px" width="220px">
                    <p>Mens Jeans- $60.00</p>
                </a>
            </div>
            <div class="card card-block mx-2 mb-4" style="max-width: 250px; max-height: 390px;">
                <a asp-controller="Home" asp-action="Womens" style="text-decoration: none; color: inherit;">
                    <img src="~/images/fluffy jacket.png" alt="White Sherpa jacket" height="250px" width="220px">
                    <p>Sherpa Jacket- $85.00</p>
                </a>
            </div>
            <div class="card card-block mx-2" style="max-width: 275px; max-height: 380px; padding: 35px;">
                <a asp-controller="Home" asp-action="Mens" style="text-decoration: none; color: inherit;">
                    <img src="~/images/black pants.png" alt="Black Pants" height="250px" width="220px">
                    <p>Black Pants- $50.00</p>
                </a>
            </div>
            <div class="card card-block mx-2" style="max-width: 275px; max-height: 380px; padding: 35px;">
                <a asp-controller="Home" asp-action="Mens" style="text-decoration: none; color: inherit;">
                    <img src="~/images/brown winter coat.png" alt="Brown Winter Coat" height="250px" width="220px">
                    <p>Brown Winter Coat- $110.00</p>
                </a>
            </div>
            <div class="card card-block mx-2 mb-4" style="max-width: 250px; max-height: 390px;">
                <a asp-controller="Home" asp-action="Mens" style="text-decoration: none; color: inherit;">
                    <img src="~/images/white sweater.png" alt="White sweater" height="250px" width="220px">
                    <p>Sweater- $45.00</p>
                </a>
            </div>
            <div class="card card-block mx-2 mb-4" style="max-width: 250px; max-height: 390px;">
                <a asp-controller="Home" asp-action="Womens" style="text-decoration: none; color: inherit;">
                    <img src="~/images/leather pants.png" alt="Black leather pants" height="320px" width="220px">
                    <p>Black leather Pants- $95.00</p>
                </a>
            </div>
        </div>
    </div>