@{
    ViewData["Title"] = "Mens";
}

<div class="row" style="text-align: center;">
    <div class="col-4" style="font-family: Arial;">
        <img src="~/images/mens jeans.png" alt="mens jeans" height="250px" width="220px">
        <p>Mens Jeans- $60.00</p>
    </div>
    <div class="col-4" style="font-family: Arial;">
        <img src="~/images/white sweater.png" alt="White sweater" height="250px" width="220px">

        <p>Sweater- $45.00</p>
    </div>
    <div class="col-4" style="font-family: Arial;">
        <img src="~/images/brown winter coat.png" alt="Brown Winter Coat" height="250px" width="220px">
        <p>Brown Winter Coat- $110.00</p>
    </div>
     <div class="col-4" style="font-family: Arial;">
        <img src="~/images/beanie.png" alt="Cream Color Beanie" height="250px" width="220px">
        <p>Beanie- $20.00</p>
    </div>
     <div class="col-4" style="font-family: Arial;">
        <img src="~/images/brown pants.png" alt="Brown Long Pants" height="315px" width="220px">
        <p>Brown Pants- $65.00</p>
    </div>
     <div class="col-4" style="font-family: Arial;">
        <img src="~/images/quarter zip.png" alt="Quarter-zip" height="250px" width="220px">
        <p>Quarter Zip- $50.00</p>
    </div>
  <div class="col-4" style="font-family: Arial;">
        <img src="~/images/grey jacket.png" alt="Grey jacket" height="250px" width="220px">
        <p>Grey Winter Jacket- $85.00</p>
    </div>
     <div class="col-4" style="font-family: Arial;">
        <img src="~/images/black pants.png" alt="Black Pants" height="250px" width="220px">
        <p>Black Pants- $50.00</p>
    </div>