@{
    ViewData["Title"] = "Mens";
}

<div class="container text-center">
    <div class="row">
        <div class="card card-block mx-2" style="max-width: 275px; max-height: 380px; padding: 35px;">
            <img src="~/images/mens jeans.png" alt="Mens Jeans" height="250px" width="220px">
            <p>Mens Jeans- $60.00</p>
            <div class="card-footer">
                <button type="button" class="btn btn-primary btn-sm btn-rectangle" onclick="Shoppingcart.href = '';">ADD
                    TO CART </button>
            </div>
        </div>
        <div class="card card-block mx-2" style="max-width: 275px; max-height: 380px; padding: 35px;">
            <img src="~/images/white sweater.png" alt="White Sweater" height="250px" width="220px">
            <p>Sweater- $45.00</p>
            <div class="card-footer">
                <button type="button" class="btn btn-primary btn-sm btn-rectangle" onclick="Shoppingcart.href = '';">ADD
                    TO CART </button>
            </div>
        </div>
        <div class="card card-block mx-2" style="max-width: 275px; max-height: 380px; padding: 35px;">
            <img src="~/images/6.png" alt="Brown Winter Coat" height="250px" width="220px">
            <p>Brown Winter Coat- $110.00</p>
            <div class="card-footer">
                <button type="button" class="btn btn-primary btn-sm btn-rectangle" onclick="Shoppingcart.href = '';">ADD
                    TO CART </button>
            </div>
        </div>
        <div class="card card-block mx-2" style="max-width: 275px; max-height: 380px; padding: 35px;">
            <img src="~/images/beanie.png" alt="Cream Color Beanie" height="250px" width="220px">
            <p>Beanie- $20.00</p>
            <div class="card-footer">
                <button type="button" class="btn btn-primary btn-sm btn-rectangle" onclick="Shoppingcart.href = '';">ADD
                    TO CART </button>
            </div>
        </div>
        <div class="card card-block mx-2" style="max-width: 275px; max-height: 380px; padding: 35px;">
            <img src="~/images/brown pants.png" alt="Brown Long Pants" height="250px" width="220px">
            <p>Brown Pants- $65.00</p>
            <div class="card-footer">
                <button type="button" class="btn btn-primary btn-sm btn-rectangle" onclick="Shoppingcart.href = '';">ADD
                    TO CART </button>
            </div>
        </div>

        <div class="card card-block mx-2" style="max-width: 275px; max-height: 380px; padding: 35px;">
            <img src="~/images/quarter zip.png" alt="Quarter-zip" height="250px" width="220px">
            <p>Quarter Zip- $50.00</p>
            <div class="card-footer">
                <button type="button" class="btn btn-primary btn-sm btn-rectangle" onclick="Shoppingcart.href = '';">ADD
                    TO CART </button>
            </div>
        </div>
        <div class="card card-block mx-2" style="max-width: 275px; max-height: 380px; padding: 35px;">
            <img src="~/images/grey jacket.png" alt="Grey Jacket" height="250px" width="220px">
            <p>Grey Winter Jacket- $85.00</p>
            <div class="card-footer">
                <button type="button" class="btn btn-primary btn-sm btn-rectangle" onclick="Shoppingcart.href = '';">ADD
                    TO CART </button>
            </div>
        </div>
        <div class="card card-block mx-2" style="max-width: 275px; max-height: 380px; padding: 35px;">
            <img src="~/images/black pants.png" alt="Black Pants" height="250px" width="220px">
            <p>Black Pants- $50.00</p>
            <div class="card-footer">
                <button type="button" class="btn btn-primary btn-sm btn-rectangle" onclick="Shoppingcart.href = '';">ADD
                    TO CART </button>
            </div>
        </div>