@{
    ViewData["Title"] = "Order";
}
<h2>Check Out Here!</h2>

<body>
    <form class="row g-3">
  <div class="col-md-6">
    <label for="inputName" class="form-label">Name</label>
    <input type="text" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-6">
    <label for="inputEmail" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputEmail">
  </div>
  <div class="col-12">
    <label for="inputAddress" class="form-label">Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
  <div class="col-12">
    <label for="inputAddress2" class="form-label">Address 2</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
  </div>
  <div class="col-md-6">
    <label for="inputCity" class="form-label">City</label>
    <input type="text" class="form-control" id="inputCity">
  </div>
  <div class="col-md-4">
       <label for="inputState" class="form-label">State</label>
    <input type="text" class="form-control" id="inputCity">
  </div>
  <div class="col-md-2">
    <label for="inputZip" class="form-label">Zip</label>
    <input type="text" class="form-control" id="inputZip">
  </div>
  <div class="col-md-6">
    
      <label for="inputState" class="form-label">Qantity</label>
    <select id="inputState" class="form-select">

      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
    </select>
      </label>
    
  </div>

  <div class="col-md-6">
      <label for="inputState" class="form-label">Payment</label>
    <select id="inputState" class="form-select">

      <option>Visa</option>
      <option>Discover</option>
      <option>Citizens</option>
      <option>PNC</option>
      <option>ApplePay</option>
      <option>PayPal</option>
    </select>
      </label>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Place Order</button>
  </div>
</form>
</body>



