@{
    ViewData["Title"] = "Womens";
}

<div class="container text-center">
     <div class="row" style="text-align: center;">
        <div class="card card-block mx-2 mb-4" style="max-width: 250px; max-height: 390px;">
            <a href="details.cshtml" style="text-decoration: none; color: inherit;">
                <img src="~/images/ripped black jeans.png" alt="Ripped Jeans" height="250px" width="220px">
                <p>Ripped Jeans- $60.00</p>
            </a>
            <a href="#" onclick="addToCart()" style="text-decoration: none; color: inherit;">
                <img src="~/images/shoppingcart.jpg" alt="Add to shopping cart" height="40px" width="20px">
            </a>
        </div>
        <div class="card card-block mx-2 mb-4" style="max-width: 250px; max-height: 390px;">
            <a href="details.cshtml" style="text-decoration: none; color: inherit;">
                <img src="~/images/star pants.png" alt="Star Pants" height="250px" width="220px">
                <p>Star Jeans- $75.00</p>
            </a>
        </div>
        <div class="card card-block mx-2 mb-4" style="max-width: 250px; max-height: 390px;">
            <a href="details.cshtml" style="text-decoration: none; color: inherit;">
                <img src="~/images/fluffy jacket.png" alt="White Sherpa jacket" height="250px" width="220px">
                <p>Sherpa Jacket- $85.00</p>
            </a>
        </div>
        <div class="card card-block mx-2 mb-4" style="max-width: 250px; max-height: 390px;">
            <a href="details.cshtml" style="text-decoration: none; color: inherit;">
                <img src="~/images/womens winter coat.png" alt="Winter Coat" height="250px" width="220px">
                <p>Winter Coat- $115.00</p>
            </a>
        </div>
        <div class="card card-block mx-2 mb-4" style="max-width: 250px; max-height: 390px;">
            <a href="details.cshtml" style="text-decoration: none; color: inherit;">
                <img src="~/images/white sweater.png" alt="White sweater" height="250px" width="220px">
                <p>Sweater- $45.00</p>
            </a>
        </div>
        <div class="card card-block mx-2 mb-4" style="max-width: 250px; max-height: 390px;">
            <a href="details.cshtml" style="text-decoration: none; color: inherit;">
                <img src="~/images/grey sweatshirt.png" alt="Grey Sweatshirt" height="250px" width="220px">
                <p>Grey Sweatshirt- $80.00</p>
            </a>
        </div>
        <div class="card card-block mx-2 mb-4" style="max-width: 270px; max-height: 390px;">
            <a href="details.cshtml" style="text-decoration: none; color: inherit;">
                <img src="~/images/sweat pants.png" alt="Grey Sweatpants" height="320px" width="220px">
                <p>Grey Sweatpants- $35.00</p>
            </a>
        </div>
        <div class="card card-block mx-2 mb-4" style="max-width: 250px; max-height: 390px;">
            <a href="details.cshtml" style="text-decoration: none; color: inherit;">
                <img src="~/images/leather pants.png" alt="Black leather pants" height="320px" width="220px">
                <p>Black leather Pants- $95.00</p>
            </a>
        </div>
    </div>
</div>


<script>
    function addToCart(){
    alert('Item added to the shopping cart');
    }
</script>